<h2>Menú</h2>
<ul>
  <li><a href="/users/login">Ingresar</a></li>
  <li><a href="/products/">lista Productos</a></li>
  <li><a href="/carts/645170e53d18bcebc5c0dbae">Productos del Carrito</a></li>
  <li><a href="/api/sessions/logout">Salir</a></li>

</ul>